<div class="login">
    <h2>User Management System</h2>
    <p>Login or Register to Access</p>
</div>
<div class="style">
    <div class="container">
        <div class="log-btn">
          <h2>Login</h2>
        </div>
        <br>
        <form [formGroup]="loginForm">
          <div class="form-group">
            <label for="email">Email Address</label>
            <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
            <small class="err"
            *ngIf="loginForm.controls.email.invalid&&loginForm.controls.email.dirty">Invalid Email!!</small>
          </div>
          <div>
            <small *ngIf="falseUser" class="err">Username or Password Incorrect</small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input formControlName="password" type="password" class="form-control" id="password" aria-describedby="passHelp">
          </div>
          <br>
          <div class="form-group" class="log-btn">
            <button type="button" class="btn btn-dark" (click)="login()"
              [disabled]="loginForm.invalid">Login</button><br>
            <small>Don't have an account? <a routerLink="/signup" class="link-dark">Sign Up</a></small>
          </div>
        </form>
      </div>
</div>