<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel" i18n>List Of Role</h5>
</div>
    <ul *ngFor="let detail of details">
        <li>{{detail.role}}</li>
    </ul>
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel" i18n>Create Role</h5>
</div>
<div>
    <form [formGroup]="user">
        <div class="form-group">
        <label i18n>Role</label>
        <input type="text" class="form-control" aria-describedby="UserHelp" formControlName="role">
        <small class="err" *ngIf="user.controls.roletouched&&!user.controls.role.dirty" i18n>
            Role Required!!</small>
          <small id="UserHelp" class="err"
            *ngIf="user.controls.role.invalid&&user.controls.role.dirty" i18n>Invalid Role!!</small>
        </div>
        <br>
    </form>
</div>
<div class="modal-footer">
    <small>{{formCheck}}</small>
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="user.invalid" i18n>Save</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()" i18n>Close</button>
  </div>
 