<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel" i18n>Create User</h5>
</div>
<div>
    <form [formGroup]="user">
        <div class="form-group">
        <label i18n>Name</label>
        <input type="text" class="form-control" aria-describedby="UserHelp" formControlName="name">
        <small class="err" *ngIf="user.controls.name.touched&&!user.controls.name.dirty" i18n>
            Name Required!!</small>
          <small id="UserHelp" class="err"
            *ngIf="user.controls.name.invalid&&user.controls.name.dirty" i18n>Invalid Name!!</small>
        </div>
        <br>
        <div class="form-group">
            <label i18n>Email</label>
            <input type="email" class="form-control" aria-describedby="UserHelp" formControlName="email">
            <small class="err" *ngIf="user.controls.email.touched&&!user.controls.email.dirty" i18n>
                Email Required!!</small>
              <small id="UserHelp" class="err"
                *ngIf="user.controls.email.invalid&&user.controls.email.dirty" i18n>Invalid Email!!</small>
            </div>
            <br>
        <div class="form-group">
            <label i18n>Date Of Birth</label>
            <input type="date" class="form-control" aria-describedby="UserHelp" formControlName="date">
            <small class="err" *ngIf="user.controls.date.touched&&!user.controls.date.dirty" i18n>
                Date Required!!</small>
        </div>
        <br>
        <div class="form-group">
            <label i18n>Password</label>
            <input type="text" class="form-control" aria-describedby="UserHelp" formControlName="password">
            <small class="err" *ngIf="user.controls.date.touched&&!user.controls.date.dirty" i18n>
                Password Required!!</small>
            <small class="err" *ngIf="user.controls.password.dirty&&user.controls.password.invalid">Password should have atleast 6 letters.</small>
        </div>
        <br>
        <div class="form-group">
            <label i18n>Role</label>
            <select class="form-select" id="inputGroupSelect01" formControlName="role" aria-label="Default select example" >
                <option [value]="detail.role" *ngFor="let detail of details" i18n>{{detail.role}}</option>
              </select>
            <small class="err" *ngIf="user.controls.role.touched&&!user.controls.role.dirty" i18n>
                Role Required!!</small>
        </div>
    </form>
</div>
<div class="modal-footer">
    <small>{{formCheck}}</small>
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="user.invalid" i18n>Save</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()" i18n>Close</button>
  </div>
 